# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
sha256sum.txt

# Test binary, build with `go test -c`
*.test
.coverprofile
prometheus-data
trickster-data
trips_*.gz

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IDE Files
.vscode/

# Test Coverage Profile Output
.coverprofile

# output path
OPATH
bin
vendor

# MacOS and other operating system artifacts
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# dep
cacheKey.data
cacheKey.expiration

#Goland IDE
.idea/

# coverage profiles
*.cov

#log testing
*.log

tags

# file copies that should not be committed to the repo
*.old
*.copy

# any generated test cert/keys that testing did not cleanup due to user abort
.pem

# for local notes that should not be made part of the project
notes.txt
