
frontend:
  listen_port: %d
metrics:
  listen_port: %d
mgmt:
  listen_port: %d
logging:
  log_level: error
caches:
  mem1:
    provider: memory
backends:
  prom-a:
    provider: prometheus
    origin_url: %s
    cache_name: mem1
    healthcheck:
      path: /api/v1/status/buildinfo
      query: ""
      interval: 100ms
      timeout: 500ms
      failure_threshold: 1
      recovery_threshold: 1
  prom-b:
    provider: prometheus
    origin_url: %s
    cache_name: mem1
    healthcheck:
      path: /api/v1/status/buildinfo
      query: ""
      interval: 100ms
      timeout: 500ms
      failure_threshold: 1
      recovery_threshold: 1
  alb-tsm-avg:
    provider: alb
    alb:
      mechanism: tsm
      output_format: prometheus
      pool:
        - prom-a
        - prom-b
