
frontend:
  listen_port: %d
metrics:
  listen_port: %d
mgmt:
  listen_port: %d
logging:
  log_level: error
caches:
  mem1:
    provider: memory
authenticators:
  alb-ur-users:
    provider: basic
    proxy_preserve: true
    users:
      bob: bobpw
backends:
  prom-leaf:
    provider: prometheus
    origin_url: %s
    cache_name: mem1
  prom-leaf-b:
    provider: prometheus
    origin_url: %s
    cache_name: mem1
  alb-inner:
    provider: alb
    alb:
      mechanism: fr
      pool:
        - prom-leaf
  alb-outer:
    provider: alb
    alb:
      mechanism: fr
      pool:
        - alb-inner
  rule-to-leafB:
    provider: rule
    rule_name: route-all-to-leafB
  alb-with-rule:
    provider: alb
    alb:
      mechanism: fr
      pool:
        - rule-to-leafB
  rule-bob:
    provider: rule
    rule_name: route-all-to-leaf
  alb-ur:
    provider: alb
    authenticator_name: alb-ur-users
    alb:
      mechanism: ur
      user_router:
        default_backend: prom-leaf
        users:
          bob:
            to_backend: rule-bob
  alb-fr-leaf:
    provider: alb
    alb:
      mechanism: fr
      pool:
        - prom-leaf
  rule-to-alb:
    provider: rule
    rule_name: route-all-to-alb
rules:
  route-all-to-leaf:
    input_source: header
    input_key: X-Never-Set
    input_type: string
    operation: eq
    next_route: prom-leaf
    cases:
      - matches:
          - 'never-matches'
        next_route: prom-leaf
  route-all-to-leafB:
    input_source: header
    input_key: X-Never-Set
    input_type: string
    operation: eq
    next_route: prom-leaf-b
    cases:
      - matches:
          - 'never-matches'
        next_route: prom-leaf-b
  route-all-to-alb:
    input_source: header
    input_key: X-Never-Set
    input_type: string
    operation: eq
    next_route: alb-fr-leaf
    cases:
      - matches:
          - 'never-matches'
        next_route: alb-fr-leaf
