# config file version
apiVersion: 1

datasources:
# Prometheus
- name: "1: Prom | Direct | GET"
  type: prometheus
  access: proxy
  orgId: 1
  uid: ds_prom_direct
  url: http://prometheus:9090
  version: 1
  editable: true
  jsonData:
    httpMethod: GET
- name: "2: Prom | Direct | POST"
  type: prometheus
  access: proxy
  orgId: 1
  uid: ds_prom_direct_post
  url: http://prometheus:9090
  version: 1
  editable: true
  jsonData:
    httpMethod: POST
- name: "3: Trickster | MemoryCache | GET"
  type: prometheus
  access: proxy
  orgId: 1
  uid: ds_prom_trickster_mc
  url: http://docker.for.mac.localhost:8480/prom1
  version: 1
  editable: true
  jsonData:
    httpMethod: GET
- name: "4: Trickster | MemoryCache | POST"
  type: prometheus
  access: proxy
  orgId: 1
  uid: ds_prom_trickster_mc_post
  url: http://docker.for.mac.localhost:8480/prom1
  version: 1
  editable: true
  jsonData:
    httpMethod: POST

# Mockster (Prom API Simulator)
- name: sim-direct
  type: prometheus
  access: proxy
  orgId: 1
  uid: ds_sim_direct
  url: http://mockster:8482/prometheus
  version: 1
  editable: true
- name: sim-trickster-memory-ja
  type: prometheus
  access: proxy
  orgId: 1
  uid: ds_sim1_trickster
  url: http://docker.for.mac.localhost:8480/sim1
  version: 1
  editable: true
- name: sim-trickster-redis-ja
  type: prometheus
  access: proxy
  orgId: 1
  uid: ds_sim2_trickster
  url: http://docker.for.mac.localhost:8480/sim2
  version: 1
  editable: true

# InfluxDB
- name: "1: InfluxDB | Direct | QL | GET"
  type: influxdb
  access: proxy
  orgId: 1
  uid: ds_infl_direct_ql_get
  url: http://influxdb:8086
  editable: true
  database: trickster
  jsonData:
    httpMode: GET
    httpHeaderName1: 'Authorization'
  secureJsonData:
    httpHeaderValue1: 'Token trickster-demo-token'

- name: "2: InfluxDB | Direct | QL | POST"
  type: influxdb
  access: proxy
  orgId: 1
  uid: ds_infl_direct_ql_post
  url: http://influxdb:8086
  editable: true
  database: trickster
  jsonData:
    httpMode: POST
    httpHeaderName1: 'Authorization'
  secureJsonData:
    httpHeaderValue1: 'Token trickster-demo-token'

- name: "3: Trickster | MemoryCache | QL | GET"
  type: influxdb
  access: proxy
  orgId: 1
  uid: ds_infl_trk_ql_get
  url: http://docker.for.mac.localhost:8480/flux1
  editable: true
  database: trickster
  jsonData:
    httpMode: GET
    httpHeaderName1: 'Authorization'
  secureJsonData:
    httpHeaderValue1: 'Token trickster-demo-token'

- name: "4: Trickster | MemoryCache | QL | POST"
  type: influxdb
  access: proxy
  orgId: 1
  uid: ds_infl_trk_ql_post
  url: http://docker.for.mac.localhost:8480/flux1
  editable: true
  database: trickster
  jsonData:
    httpMode: POST
    httpHeaderName1: 'Authorization'
  secureJsonData:
    httpHeaderValue1: 'Token trickster-demo-token'

# ClickHouse
- name: clickhouse-direct
  type: vertamedia-clickhouse-datasource
  access: proxy
  url: http://clickhouse:8123/
  editable: true
  isDefault: false
  jsonData:
    defaultDatabase: default
    username: default
    password: ""

- name: clickhouse-trickster
  type: vertamedia-clickhouse-datasource
  access: proxy
  url: http://docker.for.mac.localhost:8480/click1/
  editable: true
  isDefault: false
  jsonData:
    defaultDatabase: default
    username: default
    password: ""

- name: clickhouse-trickster-post
  type: vertamedia-clickhouse-datasource
  access: proxy
  url: http://docker.for.mac.localhost:8480/click1/
  editable: true
  isDefault: false
  jsonData:
    defaultDatabase: default
    username: default
    password: ""
    usePOST: true